# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# output files
files/quran_medina_inputtext.txt
build/
files/allquran.pdf
files/allquran_overlapping.pdf
files/medinafont_unicodes.lua
files/overflows_with_just.csv
files/quranMedina.pdf
.vscode/
CMakeLists.txt.user
lib/QtPropertyBrowser/qt6/
fonts/oldmadina/output/
fonts/digitalkhatt/output
fonts.code-workspace
CMakePresets.json
CMakeUserPresets.json
visualmetafont.code-workspace
src/Resources/quran-data.sqlite
fonts/indopak/output/