@font-face {
    font-family: oldmadina;
    font-style: normal;
    src: url(oldmadina.otf) format("opentype");
    font-display: block;
}


body {
    font-family: oldmadina;
}


.example {
    font-variant-alternates: character-variant(stretch1);
    font-family: oldmadina;
    font-size: 1rem;
    width: 500px;
    line-height: 1.9;
    margin: 0 auto;
    word-spacing: 10px;
    text-justify: inter-word;
    text-align: justify;
    /*text-align-last: justify;*/
}

.center {
    font-size: 40px;
    width: 300px;
    line-height: 1.9;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    text-justify: inter-word;
}

.issuetitle {
    font-size: 40px;
    width: 1000px;
    line-height: 1.9;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
}

#calculatewidth {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: pre;
}

.green {
    color: rgb(0 166 80);
}
.tafkim {
    color: rgb(0 102 148);
}
.lgray {
    color: rgb(156 154 155);
}
.lkalkala {
    color: rgb(0 173 239);
}
.red1 {
    color: rgb(195 138 8);
}
.red2 {
    color: rgb(244 114 22);
}
.red3 {
    color: rgb(236 0 140);
}
.red4 {
    color: rgb(140 0 0);
}



